{% extends "base/base.html" %}



{% block main %}

<div class="row">
	<div class="col-md-12 my-footer">
        <nav>
	        <ol class="breadcrumb">
		        <li class="breadcrumb-item">
			        <a href="{% url 'home' %}">Home</a>
		        </li>
		        <li class="breadcrumb-item active">
			        Chartjs
		        </li>
	        </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <canvas  class="my-canvas" width=1000 height=500 id="chart"></canvas>
    </div>
</div>

{% endblock main %}

{% block chartjs %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    const date = {{date|safe}};

    const mw = {{mw}};

    const value = {{amount_paid|safe}};

    const data = {
        labels: date,
        datasets: [
            {
                label: 'MW',
                backgroundColor: 'rgb(102, 178, 255)',
                borderColor: 'rgb(102, 178, 255)',
                data: mw,
            },
            {
                label: 'R$',
                backgroundColor: 'rgb(153, 255, 51)',
                borderColor: 'rgb(153, 255, 51)',
                data: value,
            }
        ]
    };

    const config = {
        type: 'line',
        data: data,
        options: { responsive: true}
    };

    const myChart = new Chart(
        document.getElementById('chart'),
        config
    );

</script>
{% endblock chartjs%}