{% extends "base/base.html" %}



{% block main %}
<div>
    <h1> Chartjs </h1>
</div>

<div>
  <canvas width="800" height="400" id="chart"></canvas>
</div>

{% endblock main %}

{% block chartjs %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    const date = {{date|safe}};

    const mw = {{mw}};

    const value = {{amount_paid|safe}};

    const data = {
        labels: date,
        datasets: [
            {
                label: 'MW',
                backgroundColor: 'rgb(102, 178, 255)',
                borderColor: 'rgb(102, 178, 255)',
                data: mw,
            },
            {
                label: 'R$',
                backgroundColor: 'rgb(153, 255, 51)',
                borderColor: 'rgb(153, 255, 51)',
                data: value,
            }
        ]
    };

    const config = {
        type: 'bar',
        data: data,
        options: { responsive: false}
    };

    const myChart = new Chart(
        document.getElementById('chart'),
        config
    );

</script>
{% endblock chartjs%}